Repository apify/apify-client-js, pull requests merged in 2024-05, with the labels that each got.

#542 docs: New getting started page
  docs/features.md
  docs/index.md
  docs/usage_concepts.md
  website/sidebars.js
  website/versioned_docs/version-2.9/features.md
  website/versioned_docs/version-2.9/index.md
  website/versioned_docs/version-2.9/usage_concepts.md
  website/versioned_sidebars/version-2.8-sidebars.json
  website/versioned_sidebars/version-2.9-sidebars.json
Labels: t-web

#545 feat: add notifications field to Schedule
  src/resource_clients/schedule.ts
Labels: adhoc, t-console

#548 feat: JavaScript client code examples for platform
  docs/examples/index.md
  website/docusaurus.config.js
  website/sidebars.js
  website/versioned_docs/version-2.9/examples/index.md
  website/versioned_sidebars/version-2.9-sidebars.json
Labels: t-web

#553 docs: Fixed typos for the client init and unified it across the code examples
  docs/index.md
  website/versioned_docs/version-2.9/index.md
Labels: bug, adhoc, t-web
